In [17]:
import yfinance as yf

In [25]:
tickers = ["MSFT","AAPL","GOOGL","AMZN","FB"]

In [48]:
tickersdata = {ticker : yf.Ticker(ticker).history(period = '1d',start = '2013-1-1',end = '2013-5-5')[['Open','Close']] for ticker in tickers }

In [49]:
tickersdata['MSFT']

                 Open      Close
Date
2013-01-02  22.870248  23.180780
2013-01-03  23.189167  22.870243
2013-01-04  22.887035  22.442219
2013-01-07  22.467397  22.400255
2013-01-08  22.450609  22.282753
...               ...        ...
2013-04-29  26.909919  27.595362
2013-04-30  27.553048  28.010006
2013-05-01  27.866148  27.688442
2013-05-02  27.612290  28.060787
2013-05-03  28.120024  28.340044

[85 rows x 2 columns]

In [51]:
log

NameError: name 'log' is not defined